body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* width: 100vh; */
}

p {
    margin: 0;
}


@media screen and (max-width:600px) {
    .big-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-container {
        width: 355px;
    }

    .perfume-img {
        display: block;
        width: 100%;
        object-fit: cover;
        border-radius: 7px 7px 0px 0px;
    }

    .info-container {
        display: grid;
        row-gap: 20px;
        background-color: white;
        padding: 20px 30px 20px 30px;
        width: calc(315px - 20px);
        border-radius: 0px 0px 7px 7px;
    }
}

@media screen and (min-width:601px) {
    .big-grid {
        display: flex;
        width: 520px;
        border-radius: 30px;
        flex-shrink: 0;
    }
    
    .img-container {
        width: 50%;
    }
    
    .perfume-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 7px 0px 0px 7px;
    }
    
    .info-container {
        display: grid;
        row-gap: 20px;
        background-color: white;
        padding: 30px;
        width: 50%;
        border-radius: 0px 7px 7px 0px;
    }
}

.p1 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 13px;
}

.p2 {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    line-height: 29px;
    color: hsl(212, 21%, 14%);
}

.p3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
    line-height: 22px;
}

.price-container {
    display: flex;
    align-items: center;
}

.p4 {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}

.p44 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 17px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 15px 0px;
    border-radius: 7px;
    cursor: pointer;
}

.cart-icon {
    margin-left: -17px;
    margin-right: 10px;
}
