body {
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p {
    margin: 0;
}

.big-grid {
    display: flex;
    width: 500px;
    border-radius: 30px;
}

.img-container {
    width: 50%;
}

.perfume-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px 0px 0px 7px;
}

.info-container {
    display: grid;
    row-gap: 10px;
    background-color: white;
    padding: 20px;
    width: 50%;
    border-radius: 0px 7px 7px 0px;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
    color: hsl(228, 12%, 48%);
    font-size: 10px;
}

.p2 {
    font-family: 'Fraunces', serif;
    font-size: 30px;
    line-height: 29px;
    color: hsl(212, 21%, 14%);
}

.p3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}

.price-container {
    display: flex;
    align-items: center;
}

.p4 {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}

.p44 {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    font-size: 14px;
    margin-left: 17px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 10px 0px;
    border-radius: 7px;
    cursor: pointer;
}

.cart-icon {
    margin-left: -17px;
    margin-right: 10px;
}